<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/img/logoDH.png" />
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <title>DecoHouse</title>
</head>
<body>
<header class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">

      <!-- Logo + Nombre -->
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="/img/logoDH.png" alt="icono DecoHouse" height="80" class="me-2">
        <span class="fs-4 fw-bold">DecoHouse</span>
      </a>

      <!-- Botón hamburguesa -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú -->
      <div class="collapse navbar-collapse" id="opciones">
        <ul class="navbar-nav ms-auto">

          <!-- Menú Tienda -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tiendaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tienda
            </a>
            <ul class="dropdown-menu" aria-labelledby="tiendaDropdown">
              <li><a class="dropdown-item" href="/productos">Productos en Stock</a></li>
            </ul>
          </li>

          <!-- Menú Conócenos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="conocenosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Conócenos
            </a>
            <ul class="dropdown-menu" aria-labelledby="conocenosDropdown">
              <li><a class="dropdown-item" href="/quienes">Quiénes somos</a></li>
            </ul>
          </li>

          <!-- Carrito -->
          <li class="nav-item">
            <a class="nav-link" href="/carrito">
              <i class="bi bi-cart"></i> Carrito
            </a>
          </li>          

        </ul>
      </div>

    </div>
  </nav>
</header>

</header>


<main class="mt-5 pt-5">
